<div class="container1">
  <div class="marque" routerLink="/marques/Peugeot">
    <img src="../../assets/marques/Peugeot.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Volkswagen">
    <img src="../../assets/marques/Volkswagen.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Renault">
    <img src="../../assets/marques/Renault.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Citroen">
    <img src="../../assets/marques/Citroen.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Kia">
    <img src="../../assets/marques/Kia.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Fiat">
    <img src="../../assets/marques/Fiat.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Ford">
    <img src="../../assets/marques/Ford.webp" alt="Erreur">
  </div>
  <div class="marque" routerLink="/marques/Suzuki">
    <img src="../../assets/marques/Suzuki.webp" alt="Erreur">
  </div>
</div>
