*
{

  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 690px;
  width: 100%;
}
h1{
  color: red;
  font-size: 200px;
}
p{
  color: grey;
  font-size: 30px;
}
button
{
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 7px;
  height: 40px;
  width:220px;
  margin-top: 20px;
}
