<div class="container1">
  <div class="partie1">
<img src="../../assets/voirplus/logo.png" alt="Erreur">
<p>Achat et vente de véhicule d'occasion sur Baniola.tn,<br> l'un des meilleurs endroits pour acheter une voiture <br>d'occasion en Tunisie.</p>
  </div>
  <div class="partie2">
<h3>Catégories</h3>
<p routerLink="/marque3">Toutes les marques</p>
<p routerLink="/tous_les_voitures">Voitures d'occasion</p>
<p routerLink="/tous_les_motos">Motos d'occasion</p>
<p routerLink="/tous_les_acc">Pièces & Accessoires</p>
<p routerLink="/tous_camions">Camions</p>
<p routerLink="/tous_les_locations">Location de voitures</p>
  </div>
  <div class="partie3">
<h3>Qui sommes-nous ?</h3>
<p>Contactez-nous</p>
<p>Règlement de publication</p>
<h3>Suivez nous sur :</h3>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-instagram"></i>
  </div>
</div>
