<app-navbar></app-navbar>
<div class="container1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Acceuil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Toutes les marques</li>
    </ol>
  </nav>
  <h1>Tous les marques de voitures d'occasion</h1>
  <p>Découvrez toutes nos marques de voitures d'occasion en tunisie,et accédez aux annonces de voitures</p>
  <div class="container11">
    <div class="marque"  routerLink="marques/Audi">
      <img src="../../../assets/tous_les_marques/Audi.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Bmw">
      <img src="../../../assets/tous_les_marques/Bmw.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Chery">
      <img src="../../../assets/tous_les_marques/Chery.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Chevrolet">
      <img src="../../../assets/tous_les_marques/Chevrolet.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Citroen">
      <img src="../../../assets/tous_les_marques/Citroen.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Dacia">
      <img src="../../../assets/tous_les_marques/Dacia.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Dongfeng">
      <img src="../../../assets/tous_les_marques/Dongfeng.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Ds">
      <img src="../../../assets/tous_les_marques/Ds.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Fiat">
      <img src="../../../assets/tous_les_marques/Fiat.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Ford">
      <img src="../../../assets/tous_les_marques/Ford.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Great wall">
      <img src="../../../assets/tous_les_marques/Great wall.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/GWM">
      <img src="../../../assets/tous_les_marques/GWM.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Haval">
      <img src="../../../assets/tous_les_marques/Haval.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Honda">
      <img src="../../../assets/tous_les_marques/Honda.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Hyundai">
      <img src="../../../assets/tous_les_marques/Hyundai.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Isuzu">
      <img src="../../../assets/tous_les_marques/Isuzu.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Iveco">
      <img src="../../../assets/tous_les_marques/Iveco.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Jeep">
      <img src="../../../assets/tous_les_marques/Jeep.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Kia">
      <img src="../../../assets/tous_les_marques/Kia.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Mahindra">
      <img src="../../../assets/tous_les_marques/Mahindra.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Mazda">
      <img src="../../../assets/tous_les_marques/Mazda.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Mercedes">
      <img src="../../../assets/tous_les_marques/Mercedes.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/MG">
      <img src="../../../assets/tous_les_marques/MG.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Mini">
      <img src="../../../assets/tous_les_marques/Mini.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Mitsubishi">
      <img src="../../../assets/tous_les_marques/Mitsubishi.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Nissan">
      <img src="../../../assets/tous_les_marques/Nissan.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Opel">
      <img src="../../../assets/tous_les_marques/Opel.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Peugeot">
      <img src="../../../assets/tous_les_marques/Peugeot.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Renault">
      <img src="../../../assets/tous_les_marques/Renault.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Seat">
      <img src="../../../assets/tous_les_marques/Seat.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Skoda">
      <img src="../../../assets/tous_les_marques/Skoda.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Ssangyong">
      <img src="../../../assets/tous_les_marques/Ssangyong.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Suzuki">
      <img src="../../../assets/tous_les_marques/Suzuki.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Toyota">
      <img src="../../../assets/tous_les_marques/Toyota.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Volkswagen">
      <img src="../../../assets/tous_les_marques/Volkswagen.webp" alt="Erreur">
    </div>
    <div class="marque"  routerLink="marques/Wallyscar">
      <img src="../../../assets/tous_les_marques/Wallyscar.webp" alt="Erreur">
    </div>
  </div>
  <p>Découvrez notre vaste collection de voitures d'occasion pour trouver le véhicule parfait pour votre famille sur Baniola.tn. Parcourez notre sélection diversifiée de voitures <br>familiales et professionnelles. Trouvez votre prochaine voiture dès aujourd'hui !</p>
</div>
<app-footer2></app-footer2>
