<div class="container1">
  <div class="region" routerLink="/region/Ariana">
    <p>Ariana</p>
  </div>
  <div class="region"  routerLink="/region/Beja">
    <p>Beja</p>
  </div>
  <div class="region" routerLink="/region/Ben arous">
    <p>Ben arous</p>
  </div>
  <div class="region" routerLink="/region/Bizerte">
    <p>Bizerte</p>
  </div>
  <div class="region" routerLink="/region/Gabes">
    <p>Gabes</p>
  </div>
  <div class="region" routerLink="/region/Gafsa">
    <p>Gafsa</p>
  </div>
  <div class="region" routerLink="/region/Jendouba">
    <p>Jendouba</p>
  </div>
  <div class="region" routerLink="/region/Kairouan">
    <p>Kairouan</p>
  </div>
  <div class="region" routerLink="/region/Kasserine">
    <p>Kasserine</p>
  </div>
  <div class="region" routerLink="/region/Kebili">
    <p>Kebili</p>
  </div>
  <div class="region" routerLink="/region/Kef">
    <p>Kef</p>
  </div>
  <div class="region" routerLink="/region/Mahdia">
    <p>Mahdia</p>
  </div>
  <div class="region" routerLink="/region/Manouba">
    <p>Manouba</p>
  </div>
  <div class="region" routerLink="/region/Medenine">
    <p>Medenine</p>
  </div>
  <div class="region" routerLink="/region/Monastir">
    <p>Monastir</p>
  </div>
  <div class="region" routerLink="/region/Nabeul">
    <p>Nabeul</p>
  </div>
  <div class="region" routerLink="/region/Sfax">
    <p>Sfax</p>
  </div>
  <div class="region" routerLink="/region/Sidi Bouzid">
    <p>Sidi Bouzid</p>
  </div>
  <div class="region" routerLink="/region/Siliana">
    <p>Siliana</p>
  </div>
  <div class="region" routerLink="/region/Sousse">
    <p>Sousse</p>
  </div>
  <div class="region" routerLink="/region/Tataouine">
    <p>Tataouine</p>
  </div>
  <div class="region" routerLink="/region/Tozeur">
    <p>Tozeur</p>
  </div>
  <div class="region" routerLink="/region/Tunis">
    <p>Tunis</p>
  </div>
  <div class="region" routerLink="/region/Zaghouan">
    <p>Zaghouan</p>
  </div>
</div>
