<app-navbar></app-navbar>
<app-search></app-search>
<app-rechercher></app-rechercher>
<app-voiture1></app-voiture1>
<app-menu-voiture></app-menu-voiture>
<app-moto1></app-moto1>
<app-menu-moto></app-menu-moto>
<app-accessoires1></app-accessoires1>
<app-menu-acc></app-menu-acc>
<app-location-voiture1></app-location-voiture1>
<app-menu-location></app-menu-location>
<app-camion1></app-camion1>
<app-menu-camion></app-menu-camion>
<app-autre-vehicule1></app-autre-vehicule1>
<app-menu-autre></app-menu-autre>
<app-region1></app-region1>
<app-region2></app-region2>
<app-marque1></app-marque1>
<app-marque2></app-marque2>
<app-footer1></app-footer1>
<app-footer2></app-footer2>
