<app-navbar></app-navbar>
<body>
  <div class="container2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Acceuil</a></li>
        <li class="breadcrumb-item"><a href="#">Achat Motos
        </a></li>
        <li class="breadcrumb-item active" aria-current="page">{{unique.TitreAnnonce}}</li>
      </ol>
    </nav>
    <div class="partie1">
  <div class="partie11">
    <img src="../../../assets/menu_moto/moto8.jpg" alt="Erreur">
  </div>
  <div class="partie12">
  <div class="container3">
    <img src="../../../assets/menu_autre/autre3.jpg" alt="Erreur">
    <h6>{{user1.NomPrenom}}</h6>
    <p>Annonce(s) en ligne : 5</p>
    <button class="btn1"><i class="fa-solid fa-phone"></i>Telephone</button>
    <button class="btn2"><i class="fa-solid fa-message"></i>Message</button>
  </div>
  </div>
    </div>
    <hr>
    <h2 id="id1">{{unique.TitreAnnonce}}</h2>
    <h3 id="id2">{{unique.Prix}}TND (Négociable)</h3>
    <h4 id="id3"><span><i class="fa-solid fa-tag"></i>Motos</span>
      <span><i class="fa-solid fa-location-dot"></i>{{unique.Region}}</span></h4>
      <h6 id="id6">Description :</h6>
      <p id="id5">{{unique.Description}}</p>
      <h6 id="id9">Caractéristiques :</h6>
      <div class="Caracteristiques">
        <div class="contenu">
          <p class="generale">Marque :</p>
          <p class="res">{{unique.Marque}}</p>
        </div>
        <div class="contenu">
          <p class="generale">Modèle :</p>
          <p class="res">{{unique.AnneeModele}}</p>
        </div>
        <div class="contenu">
          <p class="generale">Cilyndrée :</p>
          <p class="res">{{unique.Cylindree}}</p>
        </div>
        <div class="contenu">
          <p class="generale">Boite Vitesse:</p>
          <p class="res">{{unique.BoiteVitesse}}</p>
        </div>
        <div class="contenu">
          <p class="generale">Kilométrage :</p>
          <p class="res">{{unique.kilometrage}}</p>
        </div>
      </div>
      <p id="id4">Baniola.tn n'est pas responsable des produits proposés dans les annonces.</p>
    <h1 id="id7">Annonces Similaires</h1>
  </div>
  <app-menu-moto></app-menu-moto>
</body>
<app-footer2></app-footer2>
