<div class="container1">
  <div class="cart" *ngFor="let item of menu" routerLink="/details_autre/{{item._id}}">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre1.jpg" alt="Erreur">
      <p id="prix">{{item.Prix}} TND</p>
    </div>
    <p>{{item.TitreAnnonce}}</p>
    <div class="part2">
<span><i class="fa-solid fa-tag"></i>Voitures</span>
<span><i class="fa-solid fa-location-dot"></i>{{item.Region}}</span>
    </div>
  </div>
  <!-- <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre2.jpg" alt="Erreur">
      <p id="prix">10500 TND</p>
    </div>
    <p>3 Trottinette Cachté Importé De Suisse</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tunis</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src=".../../../assets/menu_autre/autre3.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>
      للبيع جرار فلاحي و محشة</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Ben arous</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre4.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Moteur Honda 50ch</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tozeur</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre5.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Vente Derouleuse Porte Touret</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Sousse</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre6.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>VE Fuel Injection Pump NJ-VE4/11E1800L008</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tunis</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre7.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Kibouta Tracteur</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Kasserine</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre8.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Porte D Entré Tres Propre</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Bizerte</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_autre/autre9.png" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Ford Ka En Bon État</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Kairouane</span>
    </div>
  </div> -->
</div>
