<div class="container1">
  <div class="cart" *ngFor="let item of menu" routerLink="/details_moto/{{item._id}}" >
    <div class="part1">
      <img src="../../../assets/menu_moto/moto1.jpg" alt="Erreur">
      <p id="prix">{{item.Prix}} TND</p>
    </div>
    <p>{{item.TitreAnnonce}}</p>
    <div class="part2">
<span><i class="fa-solid fa-tag"></i>Motos</span>
<span><i class="fa-solid fa-location-dot"></i>{{item.Region}}</span>
    </div>
  </div>
  <!-- <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto2.jpg" alt="Erreur">
      <p id="prix">10500 TND</p>
    </div>
    <p>Primavera 50 t2 model 2017</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tunis</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto3.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Oveto neos</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Ben arous</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto4.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Piaggio liberty 50 2t</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tozeur</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto5.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Aprilia scarabeo importé</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Sousse</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto6.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Yamaha neo's semi digitale 2006</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tunis</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto7.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Vespa s 2t</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Kasserine</span>
    </div>
  </div>
  <div class="cart">
    <div class="part1">
      <img src="../../../assets/menu_moto/moto8.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Tmax iron max 530</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Bizerte</span>
    </div>
  </div> -->
</div>
