<div class="container1">
  <div class="cart"  *ngFor="let item of menu" routerLink="/details/{{item._id}}">
    <div class="part1">
      <img src="../../assets/menu_voiture/v1.jpg" alt="Erreur">
      <p id="prix">{{item.Prix}} TND</p>
    </div>
    <p>{{item.TitreAnnonce}}</p>
    <div class="part2">
<span><i class="fa-solid fa-tag"></i>Voitures</span>
<span><i class="fa-solid fa-location-dot"></i>{{item.Region}}</span>
    </div>
  </div>
  <!-- <div class="cart" routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v2.jpg" alt="Erreur">
      <p id="prix">10500 TND</p>
    </div>
    <p>Suzuki DZIRE Essence 2020</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tunis</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v3.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Peugeot 208 Essence 2020</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Ben arous</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v4.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Nissan Micra Essence 2021</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tozeur</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v5.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Suzuki Celerio Essence 2019</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Sousse</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v6.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Suzuki Autres Essence 2022</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Tunis</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v7.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Renault Megane Diesel 2006</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Kasserine</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v8.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Hyundai ELANTRA Essence 2012</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Bizerte</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v9.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Citroen XSARA Diesel 2005</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Kairouane</span>
    </div>
  </div>
  <div class="cart"  routerLink="/details">
    <div class="part1">
      <img src="../../assets/menu_voiture/v10.jpg" alt="Erreur">
      <p id="prix">12500 TND</p>
    </div>
    <p>Bmw 118 Essence 2016</p>
    <div class="part2">
      <span><i class="fa-solid fa-tag"></i>Voitures</span>
      <span><i class="fa-solid fa-location-dot"></i>Sousse</span>
    </div>
  </div> -->
</div>
