<nav class="navbar navbar-expand-lg bg-primary fixed-top z-index:999 " >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/account/home"><img src="../../../assets/voirplus/logo.png" alt="Erreur"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/account/about" style="color: white; font-family: 'Times New Roman', Times, serif;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/annonce" style="color: white;">Publier Annonce</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account/dashboard/{{email}}" style="color: white;">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account/allusers" style="color: white;">All users</a>
        </li>
      </ul>
      <h1>Hello {{name}}</h1>
      <button class="btn btn-success" id="btn" type="button" (click)="submit()">Log Out</button>
    </div>
  </div>
</nav>

